.jumbotron {
  text-align: center;
  margin-bottom: 0rem;
  background-color: #d373ff;
}

.container{
  padding-top: 20px;
  text-align: center;
  z-index: 0;
}

.card {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  opacity: 0.8;
}

.card-header {
  font-weight: bolder;
}

li {
  line-height: 40px;
  list-style: none;
}
h1 {
  color: #54110b;
  text-align: center;
}

#picture{
  background-image: url("./burger-flat.png");
  background-attachment: scroll;
  background-repeat: no-repeat;
  padding-top: 260px;
  margin-left: 43%;
  width: 50%;
  height: auto;
  z-index: 1;
}

body{
  background-color: rgb(156, 248, 220);
}
